
openapi: "3.0.0"
info:
  version: 0.0.1
  title: SANDJIG API
  license:
    name: Internal Only

servers:
  - url: https://xyz.com/

paths:
  /jobs:
    get:
      summary: 処理要求ジョブ状況のリストで返す（registered_datetimeの新しい日付時間→古い日付時間順で返される）
      tags:
        - jobs
      security:
        - basicAuth: []
      parameters:
        - name: limit
          in: query
          description: レスポンスに（１ページ）のジョブ数を指定
          required: false
          schema:
            type: integer
            format: int32
            default: 250
            minimum: 50
            maximum: 500
        - name: job_id
          in: query
          description: >
            指定している `job_id` のみをフィルターして結果を返す (最大、175の`job_id`個のフィルターは可能）
            例）_/jobs?job_id=f02e2c3a-8de1-49af-9d0d-6220c0021999,f02e2c3a-8de1-49af-9d0d-6220c0021888,f02e2c3a-8de1-49af-9d0d-6220c0021777_
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: >
            指定している `status` のみをフィルターして結果を返す
            例）_/jobs?status=completed_
          required: false
          schema:
            type: string
            format: uuid

      responses:
        '200':
          description: ジョブ詳細のリスト
          headers:
            x-next:
              description: >
                次のページのURL(結果にある場合のみ)
              schema:
                type: string
                nullable: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: "#/components/schemas/JobResponseModel"

        '401':
          description: Unauthorized BasicAuth認証失敗  (BasicAuthが使用された場合）
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: エラーメッセージ内容
          headers:
            WWW_Autenticate:
              schema:
                type: string

    post:
      summary: 新しいジョブ処理要求を依頼する
      tags:
        - jobs
      security:
        - basicAuth: []
      requestBody:
        description: ジョブ要求内容
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobRequestModel"

      responses:
        '201':
          description: 処理キューに追加成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponseModel"

        '400':
          description: ジョブ要求に必要なパラメータがない
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  message:
                    type: string
                    description: エラーメッセージ内容
        '401':
          description: Unauthorized BasicAuth認証失敗 (BasicAuthが使用された場合）
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: エラーメッセージ内容
          headers:
            WWW_Autenticate:
              schema:
                type: string
              
  '/jobs/{job_id}':
    get:
      summary: 特定な処理要求ジョブの依頼状況
      tags:
        - jobs
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: job_id
          required: true
          description: 要求している処理ジョブを特定するid
          schema:
            type: string
            example: "f02e2c3a-8de1-49af-9d0d-6220c0021999"
      responses:
        '200':
          description: 特定ジョブのみの状況を返す
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponseModel"
        '404':
          description: 指定したjob_idは存在しません

        '401':
          description: Unauthorized BasicAuth認証失敗
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: エラーメッセージ内容
          headers:
            WWW_Autenticate:
              schema:
                type: string

    patch:
      summary: 特定な処理要求ジョブをキャンセル
      tags:
        - jobs
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: job_id
          required: true
          description: 要求している処理ジョブを特定するid
          schema:
            type: string
            example: "f02e2c3a-8de1-49af-9d0d-6220c0021999"
      requestBody:
        description: Body
        required: true
        content:
          application/json:
            schema:            
              type: object
              properties:
                status:
                  type: string
                  enum: [cancelled]

      responses:
        '200':
          description: 特定ジョブのみの状況を返す
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponseModel"

        '400':
          description: 必要な項目または、有効な項目がBodyにない
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: エラーメッセージ内容
                    example: '{"message": "エラーメッセージ内容"}'

        '401':
          description: Unauthorized BasicAuth認証失敗 (BasicAuthが使用された場合）
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: エラーメッセージ内容
                    example: '{"message": "エラーメッセージ内容"}'
          headers:
            WWW_Autenticate:
              schema:
                type: string

components:

  securitySchemes:
    basicAuth:
      type: http
      scheme: basic

  schemas:
    JobRequestModel:
      description: User Defined


    JobResponseModel:
      properties:
        job_id: 
          type: string
          format: uuid
          example: "f02e2c3a-8de1-49af-9d0d-6220c0021888"
        registered_datetime:
          type: string
          format: date-time
          example: "2020-01-21T11:00:21+9:00"
        updated_datetime:
          type: string
          format: date-time
          example: "2020-01-21T11:00:21+9:00"
        completed_datetime: 
          type: string
          format: date-time
          example: "2020-01-21T11:00:21+9:00"
        status:
          type: string
          example: completed
          enum: [pending, validating, processing, completed, error, cancelled]
          description: >
            要求ジョブの状況:
              * `pending` - バリデーション待ち状態
              * `queued` - 処理待ち状態
              * `processing` - バリデーション成功後、結果計算する処理中状態
              * `completed` - 要求ジョブの処理は成功して完了状態
              * `error` - バリデーション中や処理中エラーが発生して、処理完了ができない状態
              * `cancelled` - ジョブがAPI経由でキャンセルされた状態
        result_count:
          type: number
          nullable: true
          description: "出力される結果ファイルの数"
          example: 2
        response_payload:
          type: object
          description: User Defined Response Payload model